theme = "base16_transparent"

[editor]
true-color = true
cursorline = true
color-modes = true
auto-save = true
mouse = true

[editor.file-picker]
hidden = false

[editor.statusline]
left = ["mode", "spinner", "version-control", "spacer", "separator", "file-name", "read-only-indicator", "file-modification-indicator"]
right = ["diagnostics", "file-type", "selections", "register", "position", "file-encoding", "total-line-numbers", "primary-selection-length"]

[editor.cursor-shape]
insert = "bar"

[editor.indent-guides]
render = true

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.lsp]
display-messages = true

[editor.soft-wrap]
enable = true

[keys.normal.g]
"z" = ["hsplit", "jump_view_up", "goto_definition"]
"Z" = ["vsplit", "jump_view_up", "goto_definition"]

[keys.normal]
C-y = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi %{buffer_name} --chooser-file=/tmp/unique-file',
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
]
